@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-section {
  padding: 5rem 2rem;
  /* background: var(--bg-main); */
  animation: fadeIn 0.8s ease-out;
}

.about-container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.about-content {
  display: flex;
  justify-content: center;
}

.about-card {
  background: var(--bg-subtle);
  padding: 2rem;
  border-radius: 8px;
  /* box-shadow: var(--shadow-soft); */
  box-shadow: 10px 10px 10px #00000090, -1px -1px 10px #00000045;
  max-width: 80vw;
}

.about-detail {
  font-size: 1.5rem;
  font-family: var(--font-sans);
  font-weight: 200;
  color: var(--text-main);
  line-height: 1.7;
  margin-bottom: 0.8rem;
  text-align: left;
}

.about-card:first-child {
  text-align: right;
}

.highlight {
  color: var(--primary);
  font-weight: 600;
  transition: color 0.3s ease;
}

.highlight:hover {
  color: var(--border-hover);
}

@media (max-width: 768px) {
  .about-section {
    padding: 3rem 1.5rem;
  }

  .about-card {
    padding: 1.5rem;
  }

  .about-detail {
    font-size: 1.1rem;
  }
}

@media (max-width: 520px) {
  .about-section {
    padding: 2rem 1rem;
  }

  .about-card {
    padding: 1rem;
  }

  .about-detail {
    font-size: 1rem;
  }
}
