/* src/components/About.css */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.about {
  padding-top: 7rem;
  animation: fadeInUp 1s ease-out forwards;
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
}

.about-info {
  padding-inline: 16rem;
}

.about-detail {
  color: var(--text);
  font-size: 1.6rem;
  font-family: "Cormorant Garamond", serif;
  line-height: 1.6;
  text-align: justify;
  padding-block: 0.5rem;
  transition: 0.3s ease;
}

.about-detail:hover {
  filter: brightness(var(--bright));
  text-shadow: 0 0 1.5px var(--text), 0 0 3px var(--subText);
}

.highlight {
  color: var(--highlight);
  font-weight: bold;
  font-style: italic;
  display: inline;
  text-decoration: none;
  transition: 0.3s ease;
}

.highlight:hover {
  filter: brightness(var(--bright));
}

/* Responsive Design */

@media (max-width: 1080px) {
  .about-info {
    padding-inline: 8rem;
  }
}

@media (max-width: 768px) {
  .about-info {
    padding-inline: 4rem;
  }

  .about-detail {
    font-size: 1.4rem;
  }
}

@media (max-width: 520px) {
  .about {
    padding-top: 5rem;
  }

  .about-info {
    padding-inline: 2rem;
  }

  .about-detail {
    text-align: center;
    font-size: 1.3rem;
  }
}
