@keyframes Left_animation_Project {
  from {
    opacity: 0.5;
    filter: blur(10px);
    transform: translateX(51%);
  }

  to {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
  }
}

@keyframes Right_animation_Project {
  from {
    opacity: 0.5;
    filter: blur(10px);
    transform: translateX(-51%);
  }

  to {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
  }
}

.project {
  padding-top: 7rem;
}

.project .info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: space-evenly;
  width: clamp(60rem, 80vw, 90rem);
  gap: 1.5rem;
  margin: auto;
  padding-block: 1.5rem;
}

.project .info .items {
  display: grid;
  grid-template-rows: 10% 90%;
  margin-top: 3rem;
  padding: 0.1rem;
  gap: 0.5rem;

  align-content: space-evenly;
  background-color: var(--subBg);

  box-shadow: 10px 10px 10px #00000090, -1px -1px 10px #00000045;
  border-radius: 10px;
}

.project .info .items:nth-child(1n) {
  animation: Left_animation_Project ease-in;
  animation-timeline: view();
  animation-range: entry -10% cover 30%;
}

.project .info .items:nth-child(2n) {
  animation: Right_animation_Project ease-in;
  animation-timeline: view();
  animation-range: entry -10% cover 30%;
}

.project .info .items:hover {
  box-shadow: 10px 10px 10px #00000090 inset, -1px -1px 10px #00000045 inset;
}

.project .info .items img {
  background-color: var(--subBg);
  width: 180px;
  aspect-ratio: 1/1;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-40%);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 4;
  box-shadow: 0px 3px 30px 0px var(--title), 0px 0px 0px 3px var(--title);
}

.project .dis {
  text-align: center;
  margin-block: auto;
  padding-right: 1rem;
}

.project .dis .title {
  font-family: "Rubik Glitch", system-ui;
  text-decoration: none;
  color: var(--title);
  /* font-weight: bold; */
  display: block;
  font-size: 2.5rem;
  font-style: oblique;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
  line-height: 1.2;
}

.project .dis .title:hover {
  color: var(--hoverText);
}

.project .dis span {
  font-family: "Cormorant Garamond", serif;
  /* font-family: "Playfair Display", serif; */
  color: var(--text);
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
  line-height: 1.1;
}

.project .dis span:nth-of-type(2) {
  color: var(--subText);
  font-size: 2rem;
  font-style: oblique;
}

.project .dis p {
  font-family: "Playfair Display", serif;
  color: var(--text);
  font-size: 1.75rem;
  font-style: italic;
  line-height: 1;
}

.project .dis .link_icon {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  color: var(--title);
  font-size: 2rem;
  margin-top: 1rem;
}

@media (max-width: 1080px) {
  .project {
    animation-range: entry 0% cover 15%;
  }

  .project .info {
    grid-template-columns: auto;
    align-content: space-evenly;
    width: clamp(30rem, 70vw, 70rem);
    margin: auto;
  }

  .project .info .items img {
    width: 160px;
    aspect-ratio: 1/1;
  }

  .project .dis .title {
    font-size: 2.5rem;
    margin-bottom: 0.3rem;
    line-height: 1.3;
  }

  .project .dis span {
    font-size: 1.75rem;
    line-height: 1.2;
  }

  .project .dis span:nth-of-type(2) {
    font-size: 1.95rem;
  }

  .project .dis p {
    font-size: 1.5rem;
    line-height: 1.1;
  }
}

@media (max-width: 798px) {
  .project {
    animation-range: entry 0% cover 10%;
  }

  .project .info {
    display: grid;
    grid-template-columns: auto;
    align-content: space-evenly;
    width: clamp(30rem, 90vw, 50rem);
    gap: 1rem;
    margin: auto;
    padding-block: 1rem;
  }

  .project .info .items img {
    width: 140px;
    aspect-ratio: 1/1;
  }

  .project .dis .title {
    font-size: 2rem;
    margin-bottom: 0.2rem;
    line-height: 1.3;
  }

  .project .dis span {
    font-size: 1.5rem;
  }

  .project .dis span:nth-of-type(2) {
    font-size: 1.7rem;
  }

  .project .dis p {
    font-size: 1.25rem;
    line-height: 1.1;
  }
}

@media (max-width: 520px) {
  .project {
    padding-top: 6rem;
    animation-range: entry 0% cover 5%;
  }

  .project .info {
    display: grid;
    grid-template-columns: auto;
    align-content: space-evenly;
    width: 90vw;
    gap: 0.5rem;
    margin: auto;
    padding-block: 0.5rem;
  }

  .project .info .items img {
    width: 120px;
    aspect-ratio: 1/1;
  }

  .project .dis .title {
    font-size: 1.5rem;
    margin-bottom: 0.1rem;
    line-height: 1.2;
  }

  .project .dis span {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    line-height: 1.1;
  }

  .project .dis span:nth-of-type(2) {
    font-size: 1.4rem;
  }

  .project .dis p {
    font-size: 1.1rem;
    line-height: 1;
  }
}
