@keyframes ScrollLeft {
  to {
    left: var(--Right);
  }
}

.skills {
  position: relative;
  width: 70vw;
  height: 200px;
  margin-inline: clamp(8rem, 12vw, 16rem);
  margin-block: 2rem;
  overflow-x: hidden;
}

.lang {
  position: absolute;

  /* font-family: "Permanent Marker", cursive;
    font-size: 2rem;
    font-style: italic;
    color: var(--hoverText);
    background-color: var(--hoverBg);
    border: 2px solid var(--hoverBorder);
    border-radius: 50%; */

  /*>1080px*/
  --Duration: calc(33s);
  --Left: calc(100%);
  --Right: calc(-1 * (20%));

  text-align: center;
  align-content: center;
  left: var(--Left);
  animation: ScrollLeft var(--Duration) linear var(--Delays) infinite;
}

.lang > h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  color: var(--hoverText);
}

.lang > img {
  width: 120px;
  aspect-ratio: 1/1;
}

/*Could not debug the easy way.*/
.lang:nth-child(1) {
  /*>1080px*/
  --Delays: calc(0s);
}

.lang:nth-child(2) {
  /*>1080px*/
  --Delays: calc(-3s);
}

.lang:nth-child(3) {
  /*>1080px*/
  --Delays: calc(-6s);
}

.lang:nth-child(4) {
  /*>1080px*/
  --Delays: calc(-9s);
}

.lang:nth-child(5) {
  /*>1080px*/
  --Delays: calc(-12s);
}

.lang:nth-child(6) {
  /*>1080px*/
  --Delays: calc(-15s);
}

.lang:nth-child(7) {
  /*>1080px*/
  --Delays: calc(-18s);
}

.lang:nth-child(8) {
  /*>1080px*/
  --Delays: calc(-21s);
}

.lang:nth-child(9) {
  /*>1080px*/
  --Delays: calc(-24s);
}

.lang:nth-child(10) {
  /*>1080px*/
  --Delays: calc(-27s);
}

.lang:nth-child(11) {
  /*>1080px*/
  --Delays: calc(-30s);
}

@media (max-width: 1080px) {
  .skills {
    width: 80vw;
    margin-inline: clamp(6rem, 10vw, 12rem);
  }

  .lang {
    /*1080px*/
    left: var(--Left);
    --Duration: calc(33s);
    --Left: calc(200%);
    --Right: calc(-1 * (20%));
    animation: ScrollLeft var(--Duration) linear var(--Delays) infinite;
  }

  /*Could not debug the easy way.*/
  .lang:nth-child(1) {
    /*1080px*/
    --Delays: calc(0s);
  }

  .lang:nth-child(2) {
    /*1080px*/
    --Delays: calc(-3s);
  }

  .lang:nth-child(3) {
    /*1080px*/
    --Delays: calc(-6s);
  }

  .lang:nth-child(4) {
    /*1080px*/
    --Delays: calc(-9s);
  }

  .lang:nth-child(5) {
    /*1080px*/
    --Delays: calc(-12s);
  }

  .lang:nth-child(6) {
    /*1080px*/
    --Delays: calc(-15s);
  }

  .lang:nth-child(7) {
    /*1080px*/
    --Delays: calc(-18s);
  }

  .lang:nth-child(8) {
    /*1080px*/
    --Delays: calc(-21s);
  }

  .lang:nth-child(9) {
    /*1080px*/
    --Delays: calc(-24s);
  }

  .lang:nth-child(10) {
    /*1080px*/
    --Delays: calc(-27s);
  }

  .lang:nth-child(11) {
    /*1080px*/
    --Delays: calc(-30s);
  }
}

@media (max-width: 798px) {
  .skills {
    width: 90vw;
    margin-inline: clamp(3rem, 5vw, 6rem);
  }
}

@media (max-width: 520px) {
  .skills {
    width: 97vw;
    height: 150px;
    margin-inline: 1vw;
  }

  .lang > h1 {
    font-size: 0.75rem;
  }

  .lang > img {
    width: 60px;
    aspect-ratio: 1/1;
  }
}
