@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg:
        #E4E4E4;
    --subBg:
        #b7dbf8;
    --logo:
        #0B0C12;
    --nav:
        #00bfff10;
    --navMbl:
        #aabbccdd;
    --header:
        #004590;
    --subHeader:
        #002550;
    --title:
        #0e4055;
    --highlight:
        #00aacc;
    --text:
        #212A31;
    --subText:
        #122e49;
    --number:
        #964734;
    --border:
        #00cfcf;
    --btnBg:
        #01364b;
    --btnText:
        #00a2ff;
    --hoverBorder:
        #003135;
    --hoverBg:
        #b7dbf8;
    --hoverText:
        #012c64;
    --bright: 60%;
}

[data-theme="dark"] {
    --bg:
        #0B0C12;
    --subBg:
        #124E66;
    --logo:
        #FBE9D0;
    --nav:
        #24485510;
    --navMbl:
        #224455bb;
    --header:
        #0085ff;
    --subHeader:
        #004590;
    --title:
        #84ccca;
    --highlight:
        #964734;
    --text:
        #D3D9D4;
    --subText:
        #748D92;
    --number:
        #00bbdd;
    --border:
        #66FCF1;
    --btnBg:
        #AFDDE5;
    --btnText:
        #024650;
    --hoverBorder:
        #003135;
    --hoverBg:
        #1F2833;
    --hoverText:
        #0FA4AF;
    --bright: 140%
}